<% content_for :titulo_pagina do %>mi cuenta > hospedajes web<% end %>
<% content_for :titulo_bloque do %><%=link_to 'mi cuenta' , mi_cuenta_path %> > hospedajes web<% end %>

<div style="background-color: #e7e7e7;margin: 5px;padding: 10px;border-radius: 10px">
  <h2>wh1</h2>
  
  Aplicaciones web<br/>
  
  Bases de datos<br/>
  
  Correos electrónicos<br/>
  
  Cuentas FTP<br/>
  
  Utilidades<br/>
  
  Registros<br/>
  
</div>