<div style="text-align: center; font-size: 18px">
  <b><%= link_to 'dominios', mi_cuenta_dominios_path %></b> | <b><%= link_to 'hospedaje web', mi_cuenta_hospedaje_path %></b> | <b><%= link_to 'balance (0)', mi_cuenta_balance_path %></b> | <b><%= link_to 'configuración', mi_cuenta_configuracion_path %></b>
</div>